<p id="notice"><%= notice %></p>

<p>
  <strong>Addr detail:</strong>
  <%= @address.addr_detail %>
</p>

<p>
  <strong>Person:</strong>
  <%= @address.person %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @address.post_code %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
