<p id="notice"><%= notice %></p>

<h2>Categories</h2> 

   <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item"><%= category.name %> &nbsp; &nbsp;
          <!--
         <td><%= link_to 'Show', category %> &nbsp; |
             <%= link_to 'Edit', edit_category_path(category) %> &nbsp; |
             <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          -->
         </li>
      <% end %>
</ul>

<!--
<%= link_to 'New Category', new_category_path %>
-->
